* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.none {
  display: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 320px) {
  .container {
    max-width: 952px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 296px;
  }
}
.fa-2xl {
  font-size: 3rem;
  color: #000000;
}
.fa-2xl:hover {
  color: #52BEDC;
}

.form_btn {
  width: 100%;
  max-width: 192px;
  margin-top: 1rem;
  padding: 2rem 5rem;
  background: #F8F200;
  color: #000000;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 21px;
  margin-bottom: 15px;
}

.btn-black {
  margin-top: 4rem;
  padding: 3rem 5rem 3rem 5rem;
  background: #000000;
  color: #F8F200;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.btn-black:hover {
  background: #52BEDC;
  color: #FFFFFF;
}

@media (max-width: 1023px) and (min-width: 320px) {
  .btn-black {
    margin-top: 4rem;
    padding: 1rem 5rem 1rem 5rem;
    background: #000000;
    color: #F8F200;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  .btn-black:hover {
    background: #52BEDC;
    color: #FFFFFF;
  }
}
@media (max-width: 320px) {
  .btn-black {
    width: 100%;
    max-width: 244px;
    margin-top: 4rem;
    padding: 1rem 5rem 1rem 5rem;
    background: #000000;
    color: #F8F200;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  .btn-black:hover {
    background: #52BEDC;
    color: #FFFFFF;
  }
}
.header {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header .header_container {
  margin-top: 2rem;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.header .container .header_logo {
  width: 100%;
  max-width: 296px;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 952px;
    margin: 0 5rem 0 5rem;
  }
  .header .header_container {
    margin-top: 2rem;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
  .header .container .header_logo {
    width: 100%;
    max-width: 296px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 296px;
    margin: 0 5rem 0 5rem;
  }
  .header .header_container {
    margin-left: 300px;
    margin-top: 2rem;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .header .container .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
  .header .container .header_logo {
    width: 100%;
    max-width: 296px;
  }
}
@media (max-width: 320px) {
  .header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 296px;
  }
  .header .header_container {
    margin-top: 2rem;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .header .container .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .header .container .header_logo {
    width: 100%;
    max-width: 200px;
  }
}
.hero {
  padding-top: 600px;
  background-image: url(/Cyberpunk/img/cyberfon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.hero .hero_container .corner-block {
  width: 100%;
  height: 369px;
  max-width: 624px;
  margin-left: 656px;
  overflow: hidden;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
          clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}
.hero .hero_container .hero-info {
  position: relative;
  z-index: 5;
  padding: 60px;
  background-color: #F8F200;
}
.hero .hero_container .hero-info .hero-title {
  font-family: "Archangelsk", sans-serif;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 6.63rem;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .hero {
    padding-top: 600px;
    background-image: url(/Cyberpunk/img/cyberfon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .hero_container .corner-block {
    width: 100%;
    height: 369px;
    max-width: 624px;
    margin-left: 336px;
    overflow: hidden;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
            clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  }
  .hero .hero_container .hero-info {
    position: relative;
    z-index: 5;
    padding: 60px;
    background-color: #F8F200;
  }
  .hero .hero_container .hero-info .hero-title {
    font-family: "Archangelsk", sans-serif;
    font-size: 6.2rem;
    font-weight: 400;
    line-height: 6.63rem;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .hero {
    padding-top: 600px;
    background-image: url(/Cyberpunk/img/cyberfon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .hero_container .corner-block {
    width: 100%;
    height: 207px;
    max-width: 320px;
    margin-left: 100px;
    overflow: hidden;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
            clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  }
  .hero .hero_container .hero-info {
    position: relative;
    z-index: 5;
    padding: 30px;
    background-color: #F8F200;
  }
  .hero .hero_container .hero-info .hero-title {
    font-family: "Archangelsk", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
  }
}
@media (max-width: 320px) {
  .hero {
    padding-top: 600px;
    background-image: url(/Cyberpunk/img/cyberfon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .hero_container .corner-block {
    width: 100%;
    height: 207px;
    max-width: 320px;
    margin-left: 0px;
    overflow: hidden;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
            clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  }
  .hero .hero_container .hero-info {
    position: relative;
    z-index: 5;
    padding: 30px;
    background-color: #F8F200;
  }
  .hero .hero_container .hero-info .hero-title {
    font-family: "Archangelsk", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
  }
}
.about {
  margin-bottom: 70px;
}
.about .about_container {
  width: 100%;
  max-width: 1280px;
  margin: -15px 100px;
}
.about .about_container .about_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  gap: 32px;
}
.about .about_container .about_images .about_left .about_item2 {
  margin-top: 32px;
}
.about .about_container .about_descr {
  width: 100%;
  max-width: 952px;
  margin-top: 25px;
  color: #777777;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 700;
}
.about .about_container .about_descr .span_descr {
  color: #52BEDC;
}
.about .about_container .about_title {
  font-family: "Archangelsk", sans-serif;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 6.2rem;
  color: #000000;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .about {
    margin-bottom: 70px;
  }
  .about .about_container {
    width: 100%;
    max-width: 952px;
    margin: -15px 36px;
  }
  .about .about_container .about_images {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
    gap: 32px;
  }
  .about .about_container .about_images .about_item3 {
    width: 100%;
    max-width: 852px;
  }
  .about .about_container .about_images .about_left .about_item1 {
    max-width: 360px;
  }
  .about .about_container .about_images .about_left .about_item2 {
    margin-left: 32px;
    max-width: 360px;
  }
  .about .about_container .about_descr {
    width: 100%;
    max-width: 852px;
    margin-top: 25px;
    color: #777777;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
  }
  .about .about_container .about_descr .span_descr {
    color: #52BEDC;
  }
  .about .about_container .about_title {
    width: 100%;
    max-width: 620px;
    font-family: "Archangelsk", sans-serif;
    font-size: 6.2rem;
    font-weight: 400;
    line-height: 6.2rem;
    color: #000000;
  }
}
@media (max-width: 320px) {
  .about {
    margin-bottom: 70px;
  }
  .about .about_container {
    width: 100%;
    max-width: 1100px;
    margin: -15px 12px;
  }
  .about .about_container .about_images {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
    gap: 32px;
  }
  .about .about_container .about_images .about_item3 {
    width: 100%;
    max-width: 320px;
  }
  .about .about_container .about_images .about_left .about_item1 {
    max-width: 320px;
  }
  .about .about_container .about_images .about_left .about_item2 {
    max-width: 320px;
  }
  .about .about_container .about_descr {
    width: 100%;
    max-width: 296px;
    margin-top: 25px;
    color: #777777;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 700;
  }
  .about .about_container .about_descr .span_descr {
    color: #52BEDC;
  }
  .about .about_container .about_title {
    width: 100%;
    max-width: 290px;
    font-family: "Archangelsk", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    color: #000000;
  }
}
.game_line_big {
  width: 100%;
  height: 70px;
  background-repeat: repeat-x;
}

.line_yellow {
  width: 100%;
  height: 70px;
  background-repeat: repeat-x;
}

.game {
  background: #000000;
  padding-bottom: 135px;
}
.game .game_container {
  width: 100%;
  max-width: 1280px;
  margin: 0px 100px;
}
.game .game_container .game_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 14px;
}
.game .game_container .game_form .form_label {
  width: 100%;
  max-width: 460px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  border: 1px dashed #777777;
  padding: 40px;
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game .game_container .game_form .form_label .check {
  color: #FFFFFF;
}
.game .game_container .game_form .form_label .form_label-text {
  font-weight: 300;
  font-size: 1.8rem;
  text-decoration: underline;
  line-height: 21px;
}
.game .game_container .game_form .form_label .form_label-file {
  opacity: 0;
}
.game .game_container .game_form .form_input {
  width: 100%;
  max-width: 460px;
  background-color: transparent;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 21px;
  padding: 11px;
  padding-left: 0;
  color: #FFFFFF;
  border-bottom: 1px solid #777777;
  margin-bottom: 26px;
}
.game .game_container .game_descr {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 34px;
  color: #777777;
  width: 100%;
  max-width: 952px;
  margin-bottom: 10rem;
}
.game .game_container .game_descr span {
  font-weight: 700;
  color: #52BEDC;
}
.game .game_container .game_title {
  color: #FFFFFF;
  background-image: url(/Cyberpunk/img/Group\ 215.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 115px;
  padding-bottom: 1rem;
  padding-left: 164px;
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 6.2rem;
  margin-bottom: 4rem;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .game_line_big {
    width: 100%;
    height: 70px;
    background-repeat: repeat-x;
  }
  .game {
    background: #000000;
    padding-bottom: 135px;
  }
  .game .game_container {
    width: 100%;
    max-width: 952px;
    margin: 0px 36px;
  }
  .game .game_container .game_form {
    width: 100%;
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 14px;
  }
  .game .game_container .game_form .form_label {
    width: 100%;
    max-width: 460px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    border: 1px dashed #777777;
    padding: 40px;
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game .game_container .game_form .form_label .check {
    color: #FFFFFF;
  }
  .game .game_container .game_form .form_label .form_label-text {
    font-weight: 300;
    font-size: 1.8rem;
    text-decoration: underline;
    line-height: 21px;
  }
  .game .game_container .game_form .form_label .form_label-file {
    opacity: 0;
  }
  .game .game_container .game_form .form_input {
    width: 100%;
    max-width: 460px;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 21px;
    padding: 11px;
    padding-left: 0;
    color: #FFFFFF;
    border-bottom: 1px solid #777777;
    margin-bottom: 26px;
  }
  .game .game_container .game_descr {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 34px;
    color: #777777;
    width: 100%;
    max-width: 768px;
    margin-bottom: 10rem;
  }
  .game .game_container .game_descr span {
    font-weight: 700;
    color: #52BEDC;
  }
  .game .game_container .game_title {
    width: 100%;
    max-width: 768px;
    color: #FFFFFF;
    background-image: url(/Cyberpunk/img/Group\ 215.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 115px;
    padding-bottom: 1rem;
    padding-left: 164px;
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 6.2rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 320px) {
  .game_line_big {
    width: 100%;
    height: 70px;
    background-repeat: repeat-x;
  }
  .game {
    width: 100%;
    max-width: 320px;
    background: #000000;
    padding-bottom: 135px;
  }
  .game .game_container {
    width: 100%;
    max-width: 952px;
    margin: 0px 12px;
  }
  .game .game_container .game_form {
    width: 100%;
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 14px;
  }
  .game .game_container .game_form .form_label {
    width: 100%;
    max-width: 296px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    border: 1px dashed #777777;
    padding: 40px;
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game .game_container .game_form .form_label .check {
    color: #FFFFFF;
  }
  .game .game_container .game_form .form_label .form_label-text {
    font-weight: 300;
    font-size: 1.8rem;
    text-decoration: underline;
    line-height: 21px;
  }
  .game .game_container .game_form .form_label .form_label-file {
    opacity: 0;
  }
  .game .game_container .game_form .form_input {
    width: 100%;
    max-width: 460px;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 21px;
    padding: 11px;
    padding-left: 0;
    color: #FFFFFF;
    border-bottom: 1px solid #777777;
    margin-bottom: 26px;
  }
  .game .game_container .game_descr {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 32px;
    color: #777777;
    width: 100%;
    max-width: 768px;
    margin-bottom: 10rem;
  }
  .game .game_container .game_descr span {
    font-weight: 700;
    color: #52BEDC;
  }
  .game .game_container .game_title {
    width: 100%;
    max-width: 296px;
    color: #FFFFFF;
    background-image: url(/Cyberpunk/img/Group\ 215.svg);
    background-repeat: no-repeat;
    background-size: 62px;
    background-position: left center;
    padding-top: 115px;
    padding-bottom: 1rem;
    padding-left: 106px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 4rem;
  }
}
.hp {
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: #F8F200;
}
.hp .hp_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hp .hp_container .hp_right {
  width: 100%;
  max-width: 624px;
}
.hp .hp_container .hp_right .hp_list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.hp .hp_container .hp_right .hp_list .hp-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 21px;
  font-size: 1.8rem;
  color: #000000;
}
.hp .hp_container .hp_right .hp_list .hp-item .list-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.hp .hp_container .hp_right .hp_descr {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 34px;
  margin-top: 25px;
}
.hp .hp_container .hp_right .hp_title {
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 6.2rem;
  color: #000000;
}
.hp .hp_container .hp_left {
  width: 100%;
  max-width: 624px;
}
.hp .hp_container .hp_left .hp_logos {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .hp {
    padding-top: 75px;
    padding-bottom: 65px;
    background-color: #F8F200;
  }
  .hp .hp_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hp .hp_container .hp_right {
    width: 100%;
    max-width: 624px;
  }
  .hp .hp_container .hp_right .hp_list {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .hp .hp_container .hp_right .hp_list .hp-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    line-height: 21px;
    font-size: 1.8rem;
    color: #000000;
  }
  .hp .hp_container .hp_right .hp_list .hp-item .list-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  .hp .hp_container .hp_right .hp_descr {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 34px;
    margin-top: 25px;
  }
  .hp .hp_container .hp_right .hp_title {
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 6.2rem;
    color: #000000;
  }
  .hp .hp_container .hp_left {
    width: 100%;
    max-width: 624px;
  }
  .hp .hp_container .hp_left .hp_monitor {
    width: 100%;
    max-width: 460px;
  }
  .hp .hp_container .hp_left .hp_logos {
    gap: 25px;
    margin-top: 25px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 540px;
  }
}
@media (max-width: 320px) {
  .hp {
    padding-top: 75px;
    padding-bottom: 65px;
    background-color: #F8F200;
  }
  .hp .hp_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hp .hp_container .hp_right {
    width: 100%;
    max-width: 624px;
  }
  .hp .hp_container .hp_right .hp_list {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .hp .hp_container .hp_right .hp_list .hp-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    line-height: 21px;
    font-size: 1.8rem;
    color: #000000;
  }
  .hp .hp_container .hp_right .hp_list .hp-item .list-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  .hp .hp_container .hp_right .hp_descr {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 34px;
    margin-top: 25px;
  }
  .hp .hp_container .hp_right .hp_title {
    margin-top: 40px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    color: #000000;
  }
  .hp .hp_container .hp_left {
    width: 100%;
    max-width: 624px;
  }
  .hp .hp_container .hp_left .hp_monitor {
    width: 100%;
    max-width: 460px;
  }
  .hp .hp_container .hp_left .hp_logos {
    gap: 25px;
    margin-top: 25px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 540px;
  }
}
.buy {
  background: #000000;
  height: 717px;
}
.buy .buy_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buy .buy_container .buy_content {
  margin-left: 650px;
  margin-top: 70px;
}
.buy .buy_container .buy_content .platform_list {
  width: 100%;
  max-width: 310px;
  gap: 46px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.buy .buy_container .buy_content .buy_list {
  width: 100%;
  max-width: 466px;
  color: #FFFFFF;
  margin-bottom: 55px;
}
.buy .buy_container .buy_content .buy_list .buy_item {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.buy .buy_container .buy_content .buy_list .buy_item img {
  margin-right: 5px;
}
.buy .buy_container .buy_content .buy_subtitle {
  width: 100%;
  max-width: 255px;
  margin-top: 25px;
  color: #52BEDC;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.buy .buy_container .buy_content .buy_title {
  color: #FFFFFF;
  width: 100%;
  max-width: 624px;
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 6.2rem;
}
.buy .buy_container .buy_image img {
  position: absolute;
  left: 0px;
  height: 91.5%;
  width: 50%;
  max-width: 944px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .buy {
    background: #000000;
    height: 717px;
  }
  .buy .buy_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .buy .buy_container .buy_content {
    margin-left: 266px;
    margin-top: 70px;
  }
  .buy .buy_container .buy_content .platform_list {
    width: 100%;
    max-width: 310px;
    gap: 46px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .buy .buy_container .buy_content .buy_list {
    width: 100%;
    max-width: 466px;
    color: #FFFFFF;
    margin-bottom: 55px;
  }
  .buy .buy_container .buy_content .buy_list .buy_item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 21px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .buy .buy_container .buy_content .buy_list .buy_item img {
    margin-right: 5px;
  }
  .buy .buy_container .buy_content .buy_subtitle {
    width: 100%;
    max-width: 255px;
    margin-top: 25px;
    color: #52BEDC;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .buy .buy_container .buy_content .buy_title {
    color: #FFFFFF;
    width: 100%;
    max-width: 624px;
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 6.2rem;
  }
  .buy .buy_container .buy_image img {
    position: absolute;
    left: 0px;
    height: 102.9%;
    width: 25%;
    max-width: 322px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 320px) {
  .buy {
    background: #000000;
    height: 717px;
  }
  .buy .buy_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .buy .buy_container .buy_content {
    margin-left: 0px;
    margin-top: 210px;
  }
  .buy .buy_container .buy_content .platform_list {
    width: 100%;
    max-width: 310px;
    gap: 36px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .buy .buy_container .buy_content .buy_list {
    width: 100%;
    max-width: 466px;
    color: #FFFFFF;
  }
  .buy .buy_container .buy_content .buy_list .buy_item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 21px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .buy .buy_container .buy_content .buy_list .buy_item img {
    margin-right: 5px;
  }
  .buy .buy_container .buy_content .buy_subtitle {
    width: 100%;
    max-width: 255px;
    margin-top: 15px;
    color: #52BEDC;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .buy .buy_container .buy_content .buy_title {
    color: #FFFFFF;
    width: 100%;
    max-width: 624px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
  }
  .buy .buy_container .buy_image img {
    position: absolute;
    left: 0px;
    height: 198px;
    width: 100%;
    max-width: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.footer .footer_bottom {
  background: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 575px;
}
.footer .footer_bottom .copyright {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
}
.footer .footer_top .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_top .footer_container .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 310px;
}
.footer .footer_top .footer_container .footer_links .link_item {
  margin-left: 32px;
  font-size: 1.8rem;
  color: #000000;
}
.footer .footer_top .footer_container .footer_logos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_top .footer_container .footer_logos img {
  margin-left: 32px;
}

@media (max-width: 1400px) and (min-width: 1023px) {
  .footer .footer_bottom {
    background: #000000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 375px;
  }
  .footer .footer_bottom .copyright {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14px;
  }
  .footer .footer_top .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_top .footer_container .footer_links {
    width: 100%;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 63px;
  }
  .footer .footer_top .footer_container .footer_links .link_item {
    margin-left: 32px;
    font-size: 1.8rem;
    color: #000000;
  }
  .footer .footer_top .footer_container .footer_logos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_top .footer_container .footer_logos img {
    margin-left: 32px;
  }
}
@media (max-width: 320px) {
  .footer .footer_bottom {
    background: #000000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 24px;
  }
  .footer .footer_bottom .copyright {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 14px;
  }
  .footer .footer_top .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_top .footer_container .footer_links {
    width: 100%;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    gap: 15px;
  }
  .footer .footer_top .footer_container .footer_links .first {
    width: 100%;
    max-width: 74px;
  }
  .footer .footer_top .footer_container .footer_links .second {
    margin-left: 40px;
    max-width: 195px;
  }
  .footer .footer_top .footer_container .footer_links .link_item {
    width: 100%;
    font-size: 1.2rem;
    color: #000000;
  }
  .footer .footer_top .footer_container .footer_logos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_top .footer_container .footer_logos img {
    width: 100%;
    max-width: 200px;
    margin-left: 32px;
  }
}