$clr-primary-yellow: #F8F200;
$clr-primary-black: #000000;
$clr-primary-white: #FFFFFF;
$clr-primary-light-blue: #52BEDC;
$clr-border: #777777;

$font-size-s: 1.2rem;
$font-size-ss: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2.0rem;
$font-size-x: 3.0rem;
$font-size-xl: 6.2rem;

$margin-xxsmall: 1rem;
$margin-xsmall: 2rem;
$margin-small: 3rem;
$margin-regular: 4rem;
$margin-medium: 5rem;
$margin-xmedium: 6rem;
$margin-xxmedium: 7rem;
$margin-large: 10rem;

$padding-xxsmall: 1rem;
$padding-xsmall: 2rem;
$padding-small: 3rem;
$padding-regular: 4rem;
$padding-medium: 5rem;
$padding-xmedium: 6rem;
$padding-xxmedium: 7rem;
$padding-large: 10rem;

$transition-fast: 0.3s ease-out;
$transition-medium: 0.5s ease-out;
$transition-long: 0.8s ease-out;

$family-roboto: "Roboto", sans-serif;
$family-lilita: "Archangelsk", sans-serif;

$container-width: 1280px;

//html
html {
    font-size: 10px;
}

body {
    font-family: $family-roboto;
}

//none
.none {
    display: none;
}

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1024px) and (min-width:320px) {
    .container {
        max-width: 952px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 296px;
    }
}

//